{% extends 'base.html' %} {% import 'macros.html' as macro %} {% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
{% endblock %}

<!-- Content block -->

{%block content%}
<style>
  @media screen and (max-width: 1024px) {
  }
</style>

<body>
  <div class="col-md-12">
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap"
      rel="stylesheet"
    />
    <h1 style="text-align: center; font-family: 'Caveat', cursive">
      See what people are saying
    </h1>
    <div class="container">
      <div
        class="jumbotron"
        style="
          background-color: rgb(29, 192, 204);
          border-right: 3px solid #d8f0f3;
          border-bottom: 3px solid #dceef0;
          text-align: center;
          height: 100%;
          width: 1;
          margin-bottom: 3%;
        "
      >
        <br />
        <br />

        <p>{{ quote.quote }}</p>
        <h2>{{ quote.author }}</h2>
        <h3>{{ quote.id }}</h3>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <link
      href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap"
      rel="stylesheet"
    />
    <h2 style="font-family: 'Julius Sans One', sans-serif">
      <b><u>Blog motto</u></b>
    </h2>
    <p style="font-family: 'Marck Script', cursive; font-size: 30px">
      In this Blog page you can share
      <br />your thoughts with other people or ideas. <br />
      you can also see random quotes <br />
      that can help you get <br />that inspiration or insight <br />to spark
      that thought you have.
    </p>
  </div>
  <div class="col-md-6">{{macro.displayBlogs(blogs)}}</div>

  {%endblock%}
</body>
